/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Poppins:wght@400;500&family=Roboto:wght@400;500&display=swap');
/* font-family: 'Open Sans', sans-serif; */
/* font-family: 'Poppins', sans-serif; */
/* font-family: 'Roboto', sans-serif; */

*{
    margin: 0;
    padding: 0;
}
body{
    background: #E5E5E5;
    
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom:7px ;
    align-items: center;
}
nav{
    width: 100%;
height: 94px;
background-color: #562EFF;
display: flex;
justify-content: center;
align-items: flex-start;
}
.logo{
    display: flex;
    justify-content: space-between;
    width: 870px;
    height: 679px;
}
.logo-bar{
    display: flex;
}
.nav-bar{
    display: flex;

}

.nav-bar ul{
    display: flex;
    margin-top:35px ;
    margin-bottom: 35px;
    
}
.nav-bar ul li{
    margin-right: 35px;
    list-style: none;

}
.nav-bar ul li a{
    text-decoration: none;
    font-family: Poppins;
color: white;
font-weight: 500;
font-size: 16px;
}
.nav-bar img{
    width: 51px;
    height: 51px;
    margin-top: 23px   ;
    margin-bottom: 20px;
    /* margin-right:15.58px ; */
}
nav .logo-bar img{
    width: 40.42px;
height: 51px;
margin-top: 26px   ;
margin-bottom: 17px;
margin-right:15.58px ;
}
.logo-bar h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: #FFFFFF;
margin-top: 33px;
margin-bottom: 25px;
}
.container{
    background: #FFFFFF;
    width: 870px;
    /* height: 679px; */
    
    margin-top: 21px;
    border-radius: 5px;


}
.top-players{
    
}
.player-title{
    margin: 33px 740px 40px 33px;
    /* margin: 0.5px 31px 30px; */
    white-space: nowrap;
    color: #562EFF;
    font-weight: 500;
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
}
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 29px;
}
.player{
    display: flex;
    align-items: center;
    margin-left: 30px;
}
.player h3{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 18px; 
}
.player img{
    width: 56px;
    height: 56px;
    margin-right: 16px;
}
.divider{
width: 807px;
height: 0px;
border: 1px solid #D1D1D1;
margin: 30px 33px 30px 30px;
}
.top-blogs{

}
.blogs{
display: grid;
grid-template-columns: repeat(2,1fr);
grid-row-gap: 26px;
margin-bottom: 42px;
}
.blog{
display: flex;
justify-content: center;
align-items: flex-start;
margin-left: 30px;
}
.blog img{
    height: 117px;
left: 315px;
margin-right: 16px;
}
.blog-element{
    display: flex;
    flex-direction: column;
}
.blog-e{
    display: flex;
}
.blog h3{
    font-family: Poppins;
    font-weight: 500;
    font-size: 20px;
    
}
.blog p{
    color: #9F9F9F;
    font-family: Poppins;
font-weight: normal;
font-size: 16px;
}
.blog a{
text-decoration: none;
color: #562EFF;
}
.container-s{
    width: 870px;
    /* height: 362px; */
    margin-top: 21px;
    margin-bottom: 28px;
    border-radius: 5px;
    background-color: #FFFFFF;
}
.blog-title{
    margin-top: 0.5px;
    margin-left: 30px;
    margin-bottom: 31px;
    white-space: nowrap;
    color: #562EFF;
    font-weight: 500;
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
}
.course-title{
    font-family: Poppins;
    font-weight: 500;
    font-size: 24px;
    margin-top:23px ;
    margin-left:33px ;
    margin-bottom:11px ;
    color: #562EFF;
}
.courses{
    
}
.corse{
    margin-left: 28px;
    margin-right: 36px;
    margin-bottom: 22.21px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap:25.13px ;
}
.course{
    Width: 252.42px;
    Height: 269.79px;
    /* border: 1px solid black; */
}
.course-banner{
    width: 224px;
    height: 104px;
    margin-top:13px ;
    margin-left:11px ;
    margin-right:17.42px ;
    margin-bottom: 19.23px;
}
.course-banner img{
    width: 100%;
}
.course-detail{
    margin-left: 13.37px;

}
.course-detail h3{
    font-family: Roboto;
    font-weight: 500;
    font-size: 20.0336px;
}
.course-detail p{
    font-family: Roboto;
    font-weight: normal;
    font-size: 14.6913px;
    color: #ED6B4F;
}
.course-element{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.fa-star.filled{
    color: #FFC014;
    
}
.fa-star.empty{
    color: #AEAEAE;
}
.star{
   
    margin-left: 13.37px;
}
.star span{
    margin-left: 10.71px;
   
}
.fa-star{
    font-size: 12px;
}
.pink{
    margin-right: 12.02px;
    Width: 94.83px;
    Height: 29.38px;
    background: #FFE4E8;
border-radius: 14.6913px;
color: #ED6B4F;
display: flex;
justify-content: center;
align-items: center;
font-size: 12px;
}
@media only screen and ( max-width:688px ) {
    .container{
        width: 100%;
    }   
    .container-s{
        width: 100%;
    } 
    .players, .blogs, .corse{
        display: flex;
        /* display: grid; */
/* grid-template-columns: repeat(1,1fr); */
flex-direction: column;
justify-content: left;
    }
    .player, .blog{
        display: flex;
        flex-direction: column;
    }
    .divider{
        width: 100%;
        margin: 30px 0 30px 0;
    }
    .nav-bar ul li{
        margin-right: 10px;
        list-style: none;
    
    }
    .nav-bar ul li a{
        text-decoration: none;
        font-family: Poppins;
    color: white;
    font-weight: 500;
    font-size: 16px;
    }
}